body {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	background: url(/images/background.png);
}

#div_central {
	border: 1px solid black;
	width: 1000px;
	margin: auto;
	height: 700px;
	background: white;
}